@font-face {
  font-family: "Verlag";
  src: url("ver/Verlag-Book.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Verlag";
  src: url("ver/Verlag-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Verlag";
  src: url("ver/Verlag-Black.otf");
  font-weight: 700;
}



@font-face {
  font-family: "Verlag Condensed";
  src: url("vercomp/VerlagCond-Book.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Verlag Condensed";
  src: url("vercomp/VerlagCond-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Verlag Condensed";
  src: url("vercomp/VerlagCond-Black.otf");
  font-weight: 700;
}

